div.title{
    width: 1400px;
    height: 50px;
    background-color: skyblue;
    text-align: center;
}
div.a{
    width: 1400px;
    height: 50px;
    background-color: azure;
    text-align: center;
}
body{
    background-image: url(../images/haikei.png)
}