h1{
    text-align: center;
    color: white;
    background-color: crimson;
}

h2{
    text-align: center;
    color: cadetblue;
    background-color: skyblue;
}

h3{
    text-align: center;
    color: cadetblue;
    background-color: skyblue;
}

h4{
    color: aqua;
    font-size:25px;
    font-weight: bold;
}

a{
    color:cadetblue;
}

p{
    color: coral;
}

body{
    background-image:url("../images/motsw.png");
    background-position: bottom center;
    background-repeat: no-repeat;
}